{% load static %}

<!-- This is our main HTML page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- This is our CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <h2>Wordlas</h2>

        <div id="game-container">
            <div id="word-grid"></div>
            <div class="button-container">
                <button id="check-word-btn">Submit</button>
                <button id="reset-grid-btn">New Game</button>
            </div>
            <div class="instructions">
                <p>Type a 5-letter word and press Enter to submit</p>
                <p>Green: Correct letter in correct position</p>
                <p>Yellow: Correct letter in wrong position</p>
                <p>Gray: Letter not in the word</p>
            </div>
        </div>

        <!-- This is the place for JS scripts -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/word-grid.js' %}"></script>
    </body>
</html>
