{% load static %}

<!-- This is our main HTML page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- This is our CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <h2> Wordlas </h2>

        <!-- It needs proper styling -->
        <div id="game-container">
            <div id="word-grid"></div>
            <button id="check-word-btn">Check</button>
            <button id="reset-grid-btn">Reset</button>
        </div>

        <!-- This is the place for JS scripts -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/word-grid.js' %}"></script>
    </body>
</html>